doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./src/css/style.css")
    title スクロールすると下の背景がかぶさる
  body
    .bg
      p.bg__title scllor
    .container
  script(src="./src/js/main.js") 
