html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #F0F0F0;
}

li {
  list-style: none;
}

.header__reserve {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
}
.header__reserve-tel {
  width: 90px;
  height: 90px;
  background-color: #fff;
}
.header__reserve-tel:hover {
  padding-right: 100px;
}
.header__reserve-tel:hover p {
  opacity: 1;
  transition: 0.4s ease;
  transform: translate3d(12px, 0, 0);
}
.header__reserve-tel-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}
.header__reserve-tel-icon img {
  width: 26px;
}
.header__reserve-tel p {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  height: 1.2em;
  left: 50px;
  font-size: 1.6rem;
  color: #888;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  transition: 0.4s ease;
}
.header__reserve-link {
  width: 90px;
  height: 90px;
  background-color: #fff;
  margin-left: 1px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__reserve-link:hover .header__reserve-text-base {
  transform: translate3d(0, -110%, 0);
  transition: 0.3s ease;
}
.header__reserve-link:hover .header__reserve-text-back {
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease;
}
.header__reserve-text {
  position: relative;
  color: #888;
  font-size: 1.4rem;
  overflow: hidden;
}
.header__reserve-text-base {
  display: block;
}
.header__reserve-text-back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 110%, 0);
}
.header__logo {
  text-align: center;
  font-size: 2.4rem;
  line-height: 0;
  padding-top: 20px;
}
.header__hamburger {
  position: fixed;
  width: 90px;
  height: 90px;
  background-color: #fff;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header__hamburger:hover .header__hamburger-open {
  width: 24px;
  transition: 0.3s ease;
}
.header__hamburger-open {
  position: absolute;
  width: 18px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}
.header__hamburger-open > span {
  width: 100%;
  height: 2px;
  background-color: #888;
  position: absolute;
}
.header__hamburger-open > span:nth-of-type(1) {
  top: 0;
}
.header__hamburger-open > span:nth-of-type(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.header__hamburger-open > span:nth-of-type(3) {
  bottom: 0;
}
.header__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #dcf3f9;
  z-index: 6;
  visibility: hidden;
  transition: 0.5s ease;
}
.header__menu-hamburger {
  position: fixed;
  width: 0;
  height: 0;
  background-color: #4c4cda;
  top: 0;
  right: 0;
  z-index: 8;
  cursor: pointer;
  visibility: hidden;
  transition: 1s ease;
}
.header__menu-hamburger:hover .header__menu-hamburger-close {
  width: 34px;
  transition: 0.3s ease;
}
.header__menu-hamburger-close {
  position: absolute;
  width: 28px;
  height: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
}
.header__menu-hamburger-close > span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
}
.header__menu-hamburger-close > span:nth-of-type(1) {
  top: 0;
  transform: rotate(45deg);
}
.header__menu-hamburger-close > span:nth-of-type(2) {
  display: none;
}
.header__menu-hamburger-close > span:nth-of-type(3) {
  bottom: 0;
  transform: rotate(-45deg);
}
.header__menu-hamburger.display {
  visibility: visible;
  width: 90px;
  height: 90px;
  transition: 0.8s ease;
}
.header__menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header__menu-nav {
  width: 400px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  visibility: hidden;
  transition: 0.5s ease;
}
.header__menu-nav ul {
  margin: 0;
  padding: 54px 0;
}
.header__menu-nav ul li {
  text-align: center;
}
.header__menu-nav.display {
  visibility: visible;
  transition: 0.8s ease;
}
.header__menu-list {
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu-list:hover .header__menu-list-text-base {
  transform: translate3d(0, -110%, 0);
  transition: 0.3s ease;
}
.header__menu-list:hover .header__menu-list-text-back {
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease;
}
.header__menu-list-text {
  position: relative;
  color: #888;
  font-size: 1.4rem;
  overflow: hidden;
}
.header__menu-list-text-base {
  display: block;
}
.header__menu-list-text-back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 110%, 0);
}
.header__menu-reserve {
  border-top: 1px solid #e3e3e3;
  height: 78px;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu-reserve:hover .header__menu-reserve-text-base {
  transform: translate3d(0, -110%, 0);
  transition: 0.3s ease;
}
.header__menu-reserve:hover .header__menu-reserve-text-back {
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease;
}
.header__menu-reserve-text {
  position: relative;
  color: #888;
  font-size: 1.4rem;
  overflow: hidden;
}
.header__menu-reserve-text-base {
  display: block;
}
.header__menu-reserve-text-back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 110%, 0);
}
.header__menu.display {
  visibility: visible;
  height: 100vh;
  bottom: 0;
  transition: 0.8s ease;
}

/*# sourceMappingURL=style.css.map */
