body {
  margin: 0;
}

.splash {
  position: relative;
	width: 100vw;
	height: 100vh;
  top:0;
  left:0;
	background-color: #333;
}

.splash__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
}

.fade {
  display: none;
}

.splash-bg {
  width: 0;
  right: 0;
  transition: 0.8s;
}