// 共通
.img__flex {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  width: 300px;
  height: 100%;
}

// 01
.circle {
  text-align: center;
  font-size: 4rem;
}

.mask {
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    transform: scale(0);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
  }
}

.mask:hover::before {/*hoverした時の変化*/
  animation: circle 0.75s;/*アニメーションの名前と速度を定義*/
}

@keyframes circle {
  0% {
  transform: scale(0);
  opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
  transform: scale(2);/*アニメーションで大きくなった2倍の円の指定*/
  }
}

// 02
.bg {
  text-align: center;
  font-size: 4rem;
  position: relative;
}

.mask1 {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    transform: translateY(100%);
    transition: 0.7s;
    opacity: 0;
  }
  &:hover::before {
    transform: translateY(0);
    opacity: 1;
  }
}

.cap1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  opacity: 0;
  z-index: 3;
  font-size: 2rem;
}

.mask1:hover .cap1 {
  opacity: 1;
}

// 03
.rotate {
  font-size: 4rem;
  text-align: center;
}

.link {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  &:hover img {
    opacity: 0;
    transform: translateX(-180deg);
  }
  &:hover .cap2 {
    transform: rotateX(0);
    opacity: 1;
    transition-delay: 0.15s;
  }
}

.rotate img {
  transition: all 0.35s ease;
  backface-visibility: hidden;
}

.cap2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.35s ease;
  transform: rotateX(90deg);
  transform-origin: 0% 50%;
  opacity: 0;
  font-size: 2rem;
  background:#333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}