doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./src/css/style.css")
    title hamburger
  body
    header.header
      .header__reserve
        a(href="tel:000-000-000").header__reserve-tel
          .header__reserve-tel-icon
            img(src="./src/img/tel.png", alt="")
          p 000-000-000
        a(href="#").header__reserve-link
          p.header__reserve-text
            span.header__reserve-text-base Web予約
            span.header__reserve-text-back Web予約
      .header__logo
        p header__hamburger
      .header__hamburger
        .header__hamburger-open
          span
          span
          span
      .header__menu
        .header__menu-hamburger
          .header__menu-hamburger-close
            span
            span
            span
        .header__menu-inner
          nav.header__menu-nav
            ul
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト1
                    span.header__menu-list-text-back リスト1
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト2
                    span.header__menu-list-text-back リスト2
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト3
                    span.header__menu-list-text-back リスト3
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト4
                    span.header__menu-list-text-back リスト4
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト5
                    span.header__menu-list-text-back リスト5
              li
                a(href="#").header__menu-list
                  p.header__menu-list-text
                    span.header__menu-list-text-base リスト6
                    span.header__menu-list-text-back リスト6
            a(href="#").header__menu-reserve
              p.header__menu-reserve-text
                span.header__menu-reserve-text-base  000-000-000
                span.header__menu-reserve-text-back 000-000-000
            a(href="#").header__menu-reserve
              p.header__menu-reserve-text
                span.header__menu-reserve-text-base Web予約
                span.header__menu-reserve-text-back Web予約
  script(src="./src/js/main.js") 
